@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <center>
        This is my contact page<br />
        Water tank, Mirpur-2,Dhaka.<br />
        <abbr">Phone: 01982641791</abbr><br/>
         <abbr >Email: rejakazi02@gmail.com</abbr>
    </center>

</address>

